name: Sync with Upstream

on:
  schedule:
    - cron: '0 0 */3 * *'
    - cron: '0 12 */3 * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Configure Git
      run: |
        git config user.name 'NayaCcR'
        git config user.email 'xiaoyuccr@hotmail.com'

    - name: Add upstream
      run: git remote add upstream https://github.com/GeyserMC/Geyser.git || true

    - name: Fetch upstream
      run: git fetch upstream

    - name: Try merge upstream
      id: merge
      run: |
        set +e
        git merge --no-commit --no-ff upstream/master
        status=$?
        if [ $status -ne 0 ]; then
          echo "merge_failed_
